@page
@model IndexModel

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].TransactionTypeName)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Transactions[0].Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transactions[0].AccountName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
                <tr>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">@item.Id</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionTypeName)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
