@model MoneySmart.Pages.Accounts.AccountModel

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Number)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Number)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Balance)
    </dt>
    <dd class="col-sm-10">
        <strong>
            @if (Model.Balance >= 0)
            {
                <span>@Html.DisplayFor(model => model.Balance)</span>
            }
            else
            {
                <span class="text-danger">@Html.DisplayFor(model => model.Balance)</span>
            }
        </strong>
    </dd>
</dl>
