@using MoneySmart.Domain
@model MoneySmart.Pages.Transactions.TransactionModel

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="row">
                    <span class="col">
                        <a asp-page="./Details" asp-route-id="@Model.Id" data-id="@Model.Id">
                            <small>
                                @Html.DisplayFor(modelItem => Model.DateTime)
                            </small>
                        </a>
                    </span>
                </div>
                <div class="row">
                    <span class="col">@Html.DisplayFor(modelItem => Model.Description)</span>
                </div>
            </div>
            <div class="col text-right">
                <div class="row">
                    <span class="col">
                        <strong>
                            @if (Model.TransactionType == TransactionType.Expense.ToString())
                            {
                                <span class="text-danger">@Model.Amount</span>
                            }
                            else
                            {
                                <span>@Model.Amount</span>
                            }
                        </strong>
                    </span>
                </div>
                <div class="row">
                    <span class="col">
                        <small>
                            @Html.DisplayFor(modelItem => Model.AccountName)
                        </small>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
