@page
@model IndexModel

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div id="Transactions">
    @foreach (var item in Model.Transactions)
    {
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <span class="col">
                                        <a asp-page="./Details" asp-route-id="@item.Id">
                                            <small>
                                                @Html.DisplayFor(modelItem => item.DateTime)
                                            </small>
                                        </a>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col">@Html.DisplayFor(modelItem => item.Description)</span>
                                </div>
                            </div>
                            <div class="col text-right">
                                <div class="row">
                                    <span class="col">
                                        <strong>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </strong>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col">
                                        <small>
                                            @Html.DisplayFor(modelItem => item.AccountName)
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
