@page
@model IndexModel

@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Accounts[0].Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Accounts[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Accounts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-number="@item.Number">Edit</a> |
                        <a asp-page="./Details" asp-route-number="@item.Number">Details</a> |
                        <a asp-page="./Delete" asp-route-number="@item.Number">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
